<!DOCTYPE html>
<html>
  	<head>
    	<title>Blog</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<script src="/javascripts/jquery.min.js"></script>
    	<script src="/javascripts/vue.min.js"></script>
  	</head>
  	<body>
  		<header>
  			<h1><%= title %></h1>
  		</header>
  		<nav>
  			<span><a href="/">首页</a></span>
        <% if(!user){ %>
  			    <span><a href="login">登录</a></span>
            
  			    <span><a href="reg">注册</a></span>
        <% }else{ %>
            <span><a href="post">发表</a></span>
            <span><a href="loginout">登出</a></span>
        <% } %>
  		</nav>
  		<article>