<%- include head %>
	<div class="user">
	 	<input type="text" name="username" v-model="username" placeholder="请输入用户名">
	 	<br>
	 	<input type="password" name="password" v-model="password" placeholder="请输入密码">
	 	<br>
	 	<input type="password" name="repassword" v-model="repassword" placeholder="请再次输入密码">
	 	<div class="btn">
	 		<input type="button" v-on:click="submit('reg')" value="注册">
	 		<input type="button" v-on:click="to('reg')" value="登录">
	 	</div>
	</div>
<%- include foot %>